.Product {
    position: relative;
    width: 250px;
    height: 350px;
    
    box-shadow: 2px 4px 12px rgba(95, 17, 31, 0.15);
    background: #FFFFFF;
    border-radius: 16px;

    margin: 0 34px 45px 0;
}

.Product .prod-image {
    width: 250px;
    height: 259px;

    border-radius: 16px 16px 0px 0px;
    border-bottom: 4px solid #FBB6C3;

    object-fit: cover;
	overflow: hidden;
}

.Product .prod-title {
    position: absolute;
    width: 170px;
    left: 27px;
    top: 292px;
    bottom: 31px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;

    color: #828282;
}

.Product .info-button {
    position: absolute;
    left: 199px;
    top: 295px;

    font-size: 26px;
    color: #828282;
}

.Product .info-button {
    cursor:         pointer;
}



.Product .prod-overlay {
    width:              250px;
    height:             285px;

    background:         linear-gradient(180deg, rgba(255, 255, 255, 0.5) 45%, #FFFFFF 73%);
    border-radius:      16px 16px 0px 0px;

    position:           absolute;
    left:               0%;
    right:              0%;
    top:                0%;
    bottom:             0%;

    transition:         opacity 200ms;
}