.ProfilePopup {
  position:       absolute;
  top:            10px;
  right:          80px;
  z-index:        100;

  width:          360px;
  height:         360px;
  border-radius:  26px;

  transition:     opacity 0.2s ease-in-out;

  background:     #FFFFFF;
  box-shadow:     0px 6px 30px rgba(0, 0, 0, 0.1);
}

.ProfilePopup .profile-name {
  position: absolute;
  left: 29.49%;
  right: 19.94%;
  top: 10.34%;
  bottom: 81.28%;

  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height */

  display: flex;
  align-items: center;
  color: #333333;
}




.ProfilePopup .profile-elements {
  position: absolute;
  left: 10.39%;
  right: 25.84%;
  top: 35.34%;
  bottom: 10.06%;
}

.ProfilePopupElement {
  width: 224.5px;
  height: 29.5px;
  
  display: flex;
  margin-bottom: 27px;
}

.ProfilePopupElement:hover {
  cursor:         pointer;
  /* background:   #FFD4DC; */
}

.ProfilePopupElement .icon {  
  color: #828282;
  font-size: 32px;
}

.ProfilePopupElement .caption {
  width: 160px;
  margin: 0;
  margin-left: 40px;

  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6em;

  color: #4F4F4F;
}