.ProfilePopup {
  position:       absolute;
  top:            10px;
  right:          80px;
  z-index:        100;

  width:          360px;
  height:         360px;
  border-radius:  26px;

  transition:     opacity 0.2s ease-in-out;

  background:     #FFFFFF;
  box-shadow:     0px 6px 30px rgba(0, 0, 0, 0.1);
}

.ProfilePopup .profile-name {
  position: absolute;
  left: 29.49%;
  right: 19.94%;
  top: 10.34%;
  bottom: 81.28%;

  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height */

  display: flex;
  align-items: center;
  color: #333333;
}