.SideBarElement {
  display:        flex;
  align-items:    center;

  width:          277px;
  height:         60px;
  margin-bottom:  12px;
  border-radius:  23px;

  transition:     background 0.2s ease-out;
}

.SideBarElement:hover {
  cursor:         pointer;
  background:   #FFD4DC;
}

h3.section-name {
  font-family:  Noto Sans JP;
  font-style:   normal;
  font-weight:  normal;
  font-size:    24px;

  display:      flex;
  align-items:  center;
  margin-left:  30px;
  
  color:        #4F4F4F;
}

.material-icons.expand_more {
  position:     absolute;
  left:         80.48%;
  right:        15.55%;
  
  font-size: 		35px;
  margin-top:   1px;

  color: 				#818181;
}