.UpperBar {
  position: fixed;
  z-index: 80;

  width:        100%;
  height:       121px;

  display:      flex;
  align-items:  center;

  background: #FFA1B2;
}

h1#brand-name {
  position:     absolute;
  left:         185px;
  margin:       0;
  
  font-family:  'Lily Script One', cursive;
  font-style:   normal;
  font-weight:  normal;
  align-items:  center;
  font-size:    51px;
  letter-spacing: -0.05em;

  color:      #3A2528;
}

.UpperBar .bg-drips {
  position: absolute;
  width: 117px;
  height: 278px;
  left: 1503px;
  top: 0px;
}

div#bg-drip-left {
  position: absolute;
  left: 0;

  width:      37px;
  height:     80%;
  
  background:   #FFA1B2;
  border-radius:  40px;
}

div#bg-drip-right {
  position: absolute;
  right: 0;

  width:      46px;
  height:     100%;

  background:   #ffa1b2;
  border-radius:  40px;
}